.search-bar{
    text-align:center;
    /* width:100%; */
    background:#efeff4;
    padding:8px 0;
    font-size:14px;
    margin-bottom:15px;
}

#refresh{
    position:absolute;
    left:0;
    width:100%;
    top:44px;
    bottom:50px;
}